.footer {
    padding: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #303030;

    a {
        color: white;
        background-color: #505050;
        padding: 4px;
    }
}